<img src="https://pp.userapi.com/c848528/v848528406/95b10/FbpWwgl7Pf4.jpg" alt="Грузовик" width="100%">
<div class="text1">
  <h1>Компания "Logistic" создана в 2018 году.</h1>
  <h4>Имеет штат высококвалифицированных сотрудников, прошедших обучение в Германии<br>
    на базе транспортно-экспедиционного предприятия «Köppen» GmbH, город Дуйсбург.</h4>
</div>
<div class="bl1">
  <h1>Деятельность</h1>
</div>
<div class="bl2">
  <img src="https://pp.userapi.com/c851332/v851332943/24ad9/qd944o_1wOc.jpg" alt="Грузовик" width="350" height="210">
</div>
<div class="bl3">
  <h5>Экспедирование</h5>
  <p>Экспедирование грузов в страны восточной и западной Европы, страны СНГ и Балтии.</p>
</div>
<div class="bl4">
  <h5>Грузоперевозки</h5>
  <p>Мелкие сборные грузы (Восточная и Западная Европа).</p>
</div>
<div class="bl5">
  <img src="https://pp.userapi.com/c851332/v851332943/24ae7/5rHd7tSvwNU.jpg" alt="Грузовик" width="350" height="210">
</div>
<div class="bl6">
  <h1>Партнеры</h1>
  <p>Мы работали над цифровыми стратегиями для 200 брендов по всему миру.</p>
</div>
<div class="bl7">
  <img src="https://pp.userapi.com/c850228/v850228032/4e7fc/CN9tXvohYwg.jpg" alt="Компании" width="1200" height="230">
</div>
<div class="bl8">
  <h1>Сотрудники</h1>
  <p>Для нас транспортно-экспедиционная деятельность – это комплекс услуг по перевозке груза, различные консультации, помощь в<br>
    составлении договоров купли-продажи, поставки, оформление таможенной и другой необходимой документации.</p>
</div>
<div class="sotr1">
  <div class="card-deck">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Виктор Николаевич Леончик</h5>
        <h6 class="card-header bg-transparent">Директор</h6>
        <p class="card-text">Тел: +375 (44) 556-11-22<br>
          Тел: +375 (33) 300-56-51<br>
          Тел./факс: +375 (17) 317-15-57<br>
          e-mail: lvn@boforti.by<br>
          Skype: bofortilvn<br>
          ICQ: 694302706</p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Лилия Николаевна Куприк</h5>
        <h6 class="card-header bg-transparent">Главный бухгалтер</h6>
        <p class="card-text">Тел: +375 (33) 305-35-13<br>
          Тел: +375 (44) 517-28-51<br>
          Тел./факс: +375 (17) 317-15-58<br>
          e-mail: kln@boforti.by<br>
          Skype: liliya240367<br>
          ICQ: </p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Елена Владимировна Леончик</h5>
        <h6 class="card-header bg-transparent">Коммерческий директор</h6>
        <p class="card-text">Тел.	+375 (33) 305-35-02<br>
          Тел.	+375 (44) 557-11-22<br>
          Тел./факс: +375 (17) 317-15-50<br>
          e-mail: leonchik@boforti.by<br>
          Skype: leonchik_4<br>
          ICQ: </p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Петр Владимирович Яхнис</h5>
        <h6 class="card-header bg-transparent">Начальник транспортно-экспедиционного отдела</h6>
        <p class="card-text">Тел.	+375 (33) 300-56-52<br>
          Тел.	+375 (29) 199-02-28<br>
          Тел./факс: +375 (17) 318-15-30<br>
          e-mail: ypv@boforti.by<br>
          Skype: boforti12<br>
          ICQ: 694042574</p>
      </div>
    </div>
  </div>
</div>
<div class="sotr2">
  <div class="card-deck">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Мария Николаевна Гончарик</h5>
        <h6 class="card-header bg-transparent">Экспедитор транспортный</h6>
        <p class="card-text">Тел.	+375 (33) 300-56-54<br>
          Тел.	+375 (44) 517-28-54<br>
          Тел./факс: +375 (17) 318-15-34<br>
          e-mail: gm@boforti.by<br>
          Skype: boforti.gm<br>
          ICQ:665662415</p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Марина Анатольевна Дриневская</h5>
        <h6 class="card-header bg-transparent">Экспедитор транспортный</h6>
        <p class="card-text">Тел.	+375 (33) 305-35-36<br>
          Тел.	+375 (44) 791-18-22<br>
          Тел./факс: +375 (17) 318-15-32<br>
          e-mail: dma@boforti.by<br>
          Skype: marina_boforti<br>
          ICQ: 712560264</p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Анастасия Витальевна Павлова</h5>
        <h6 class="card-header bg-transparent">Экспедитор транспортный</h6>
        <p class="card-text">Тел.	+375 (33) 300-56-53<br>
          Тел.	+375 (44) 517-28-53<br>
          Тел./факс: +375 (17) 317-15-52<br>
          e-mail: pav@boforti.by<br>
          Skype: pav@boforti.by<br>
          ICQ: </p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Новицкая Инна Викторовна</h5>
        <h6 class="card-header bg-transparent">Экспедитор транспортный</h6>
        <p class="card-text">Тел.	+375 (33) 305-35-14<br>
          Тел.	+375 (44) 517-28-50<br>
          Тел./факс: +375 (17) 317-15-51<br>
          e-mail: lei@boforti.by<br>
          Skype: bofortilei<br>
          ISQ: 706897591</p>
      </div>
    </div>
  </div>
</div>
<div class="sotr3">
  <div class="card-deck">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Юлия Александровна Яхнис</h5>
        <h6 class="card-header bg-transparent">Экспедитор транспортный</h6>
        <p class="card-text">Тел.	+375 (33) 300-56-55<br>
          Тел.	+375 (44) 517-28-52<br>
          Тел./факс: +375 (17) 318-15-31<br>
          e-mail: sya@boforti.by<br>
          Skype: bofortisya<br>
          ICQ:680343456</p><br>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Светлана Вячеславовна Фомина</h5>
        <h6 class="card-header bg-transparent">Офис-менеджер</h6>
        <p class="card-text">Тел.	+375 (33) 305-35-21<br>
          Тел.	+375 (44) 559-11-22<br>
          Тел./факс: +375 (17) 317-15-40<br>
          e-mail: fsv@boforti.by<br>
          Skype: светлана_boforti<br>
          ICQ: 712560264</p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Светлана Вячеславовна Фомина</h5>
        <h6 class="card-header bg-transparent">Офис-менеджер</h6>
        <p class="card-text">Тел.	+375 (33) 305-35-21<br>
          Тел.	+375 (44) 559-11-22<br>
          Тел./факс: +375 (17) 317-15-40<br>
          e-mail: fsv@boforti.by<br>
          Skype: светлана_boforti<br>
          ICQ: 712560264</p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-header bg-transparent">Светлана Вячеславовна Фомина</h5>
        <h6 class="card-header bg-transparent">Офис-менеджер</h6>
        <p class="card-text">Тел.	+375 (33) 305-35-21<br>
          Тел.	+375 (44) 559-11-22<br>
          Тел./факс: +375 (17) 317-15-40<br>
          e-mail: fsv@boforti.by<br>
          Skype: светлана_boforti<br>
          ICQ: 712560264</p>
      </div>
    </div>
  </div>
</div>
<div class="bl9">
  <h1>О нас</h1>
  <p>Рады предложить Вам комплекс услуг, связанных с вопросами транспортно-экспедиционной<br>
    деятельности в РБ, странах Балтии, Западной Европы.<br>
    Сотрудники фирмы имеют опыт в области международных перевозок, знают европейскую<br>
    таможенную систему, владеют немецким и английским языками.<br>
    Для нас транспортно-экспедиционная деятельность – это комплекс услуг по перевозке груза,<br>
    различные консультации, помощь в составлении договоров купли-продажи, поставки,<br>
    оформление таможенной и другой необходимой документации.<br>
    Комплектуем сборные грузы, попутные грузы.<br>
    Надеемся в Вашем лице найти постоянных партнеров.<br>
</div>
<div class="bl10">
  <h1>Закажите перевозку</h1>
  <img src="https://logdok.ru/wp-content/uploads/info.jpg" alt="Компании" width="500" height="215">
</div>
<div class="but1">
  <button
    (click)="userService.goToOrder()"
    type="button" class="btn btn-info" routerLink="/create-requisition">Заказать</button>
</div>
<div class="bl11">
  <h1>Контакты</h1>
  <p>Республика Беларусь<br>
    220013, г. Минск, ул. Якуба Коласа, 1104<br>
    Факс: +375 (17) 256-56-06<br>
    Приемная: +375 (17) 317-15-40<br>
    e-mail: logistic@gmail.com</p>
</div>
<div class="bl12">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.353797558812!2d27.592340337473413!3d53.92545805720697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x74724d3d8e812c70!2z0J7QsdGJ0LXQttC40YLQuNC1IOKEljEg0JHQk9Cj0JjQoA!5e0!3m2!1sru!2sby!4v1539789404502" width="900" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<p class="ppp">.</p>
