.but1 {
  position: absolute;
  left: 1272px;
  top: 65px;
}

.bl1 {
  border: solid;
  border-color: #bbdefb;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  left: 400px;
  top: 160px;
  width: 540px;
}

/*input.ng-touched.ng-invalid {*/
  /*border:solid red 2px;*/
/*}*/

/*input.ng-touched.ng-valid {*/
  /*border:solid green 2px;*/
/*}*/
