.hh3 {
  position: absolute;
  left: 15px;
  top: 64px;
}

.but1 {
  position: absolute;
  right: 15px;
  top: 65px;
}

.bl1 {
  border: solid;
  border-color: #bbdefb;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  left: 10px;
  top: 110px;
  width: 1325px;
}

.tdd {
  width: 650px;
}

.but2 {
  position: absolute;
  left: 635px;
  top: 915px;
}

.ppp {
  position: absolute;
  top: 980px;
}

.bl2 {
  position: relative;
  top: 16px;
}


/*input.ng-touched.ng-invalid {*/
  /*border:solid red 2px;*/
/*}*/

/*input.ng-touched.ng-valid {*/
  /*border:solid green 2px;*/
/*}*/
