<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">LOGISTIC</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-3 my-lg-0">
      <button
        *ngIf="!userService.isAuthorization()"
        type="button" class="btn btn-info but1" routerLink="/authorization">Войти</button>
      <button
        *ngIf="userService.isAuthorization()"
        (click)="userService.logOut()"
        type="button" class="btn btn-info but1">Выйти</button>
    </form>
  </div>
</nav>
<body>
  <router-outlet></router-outlet>
</body>
<footer class="page-footer font-small blue fixed-bottom">
  <div class="footer-copyright text-center py-3">© 2018 Logistic:
    <a href="https://vk.com/id77388251">Zadorozhnuk, 573602</a>
  </div>
</footer>
